// styling
$gray-blu: #00202d;
$blu-dark: #084367;
$dusty-db: rgba(40, 128, 185, 0.25);
$blu-light: #0388A6;
$text-light: #f2f9ff;
$acc: #027353;
$dusty-acc: #81A69B;
$pop-light: #F29B30;
$dusty-pl: rgba(248, 187, 52, 0.76);
$pop-dark: #D97B29;
$dusty-pd: #D9BD9C;
$purple: #A1A4B5;
$dark-gray: #7a7a7a;
$delete: #A61103;

// @import "src/scss/_variables.scss";

// imports
@import "bootstrap/dist/css/bootstrap.css";
